<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Author:</b>
  <%= @task.author %>
</p>

<p>
  <b>Category:</b>
  <%= @task.category %>
</p>

<p>
  <b>Created at</b>
  <%= @task.created_at.strftime("%d/%m/%Y")%>
</p>  


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
